
body{
    background-color: #222831;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.realestate{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.realestate > *{
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    }
h1{
    display: block;
    font-size: 50px;
    line-height: 1px;
    color: #EEEEEE;
}
h2{
    font-size: 20px;
    color: #EEEEEE;
}
h4{
    display: block;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: #EEEEEE;
}
p{
    font-size: 20px;
    color: #EEEEEE;
}

.righthead p{
    text-transform: uppercase;
    font-size: 30px;
    color: #EEEEEE;
}
.main p{
    font-size: 25px;
}
.housebg{
    background-image: url(exterior.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 60vh;
    cursor: pointer;
    transition: 0.5s;
}
.lefthead{
    flex-basis: 300px;
}
.righthead{
    flex-basis: 200px;
}
.moredeets{
    text-align: center;
}
.main{
    border-radius: 20px;
    height: fit-content;
    background-color: #393E46;
    text-align: justify;
    max-width: 70%;
}

.realestatepics{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.pics{
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 3px 4px 3px rgba(255, 255, 255, 0.5);
}

.pics img{
    height: 100%;
    width: 115%;
    transition: all linear 0.5s;
}

img.hover-img{
    position: absolute;
    top: 0;
    left: 0;
        opacity: 0;
}

.pics:hover img{
    opacity: 0;
}

.pics:hover img.hover-img{
    opacity: 1;
}


@media all and (min-width: 800px){
    .main{
        flex: 3;
    }
    .head1{
        order: 1;
    }
    .head2{
        order: 1;
    }
    .aside.moredeets{
        order: 2;
    }
    .main{
        order: 3;
    }
    .pic1{
        order: 5;
    }
}

@media all and (min-width: 600px){
    .head1{
        order: 1;
    }
    
}